<div class="container">
  <div class="card">
    <h3 class="card-title">Add New Project to Inventory</h3>
  </div>
  <div class="card-body">
    <div>
      <div>
        <label>Project Title:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Project Author:</label>
        <br>
        <input #newAuthor>
      </div>

      <div>
        <label>Project Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>

      <div>
        <label>Project Funds Needed:</label>
        <br>
        <input type="number" #newMoney>
      </div>

      <button class="btn btn-info" (click)="submitForm(newName.value, newAuthor.value, newDescription.value, newMoney.value); newName.value=''; newAuthor.value=''; newDescription.value=''; newMoney.value=''">Add</button>
    </div>
  </div>
</div>

<div>
  <app-welcome></app-welcome>
</div>
